body{
    margin: 0;
    padding: 0;
}

.first-section{
    display: flex;
    margin: 2px 0px;
}

.half-width{
    width: 50%;
    padding: 2%;
}

.half-width img{
    width: 50%;
    border-radius: 5%;
    padding: 0% 25%;
}

#div-m22{
    margin-left: 10px;
    padding-left: 5px;
    border-left: green solid 4px;
    border-radius: 5px;
}

#stay-2022{
    font-size: 40px;
}

.paragraph{
    text-align: justify;
    margin: 0;
}

.button-style{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(red, green);
    padding: 10px 40px;
    border-radius: 5px;
}