body{
    margin: 0;
    padding: 0;
}

.display-section{
    display: flex;
    margin: 2px 0px;
    width: 100%;
    height: 100%;
}

.half-width{
    width: 50%;
    padding: 2%;
}

.half-width img{
    width: 50%;
    border-radius: 5%;
    padding: 0% 25%;
}

#div-m22{
    margin-left: 10px;
    padding-left: 5px;
    border-left: green solid 4px;
    border-radius: 5px;
}

#stay-2022{
    font-size: 40px;
}

.paragraph{
    text-align: justify;
    margin: 0;
}

.button-style{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(red, green);
    padding: 10px 40px;
    border-radius: 5px;
}

#second-section-header{
  text-align: center;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
}

#div-box-01{
    background-color: #00D8C8;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
}

#div-box-01 img{
    width: 30%;
}

#div-box-02{
    background-color: #00EF3A;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
}

#div-box-02 img{
    width: 30%;
}

#div-box-03{
    background-color: #676ddf;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
}

#div-box-03 img{
    width: 30%;
}